body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    position: relative;
}

.box {
    border: 2px solid lime;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

textarea {
    width: 100%;
    resize: none;
    background-color: black;
    color: lime;
    border: 1px solid lime;
}

@media only screen and (max-width: 375px) {
    textarea {
        width: 100%;
    }
}

.btn {
    background-color: black;
    color: lime;
    border: 2px solid lime;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
    background-color: lime;
    color: black;
}

.title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
