body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}
h1, h2 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box {
    border: 2px solid lime;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
textarea {
    width: 570px;
    resize: none;
    background-color: black;
    color: lime;
    border: 1px solid lime;
}

@media only screen and (max-width: 375px) {
    textarea {
      width: 257px;
    }
  }
.btn {
    background-color: black;
    color: lime;
    border: 2px solid lime;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.btn:hover {
    background-color: lime;
    color: black;
}
